/* это было */
#pro {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
details {
    width: 150px;
}

/* ------------- */

body {
    background-color: #333041;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Neucha', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* можно еще написать одной строкой как */
    /* font: normal 16px 'Neucha',sans-serif */
}
.header-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
}
.header-nav{
    border-radius: 20px;
}

.header-nav li {
    border-radius: 20px;
    padding: 0 15px;
}

.avatar {
     width: 90%;
     border-radius: 25px;
}
.h2_about{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.info {
    display: flex;
    padding-bottom: 10px;
}
.info p {
    margin: 0;
    color: #371553;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 5px;
}
#text {
    padding: 5px;
    text-align: justify;
    border-radius: 20px;
}
.sotial {
    padding: 5px 2px 10px 20px;
    background: rgb(255, 232, 245);
    border-radius: 20px;
}

.container {
    margin: auto;
    padding: 20px;
    max-width: 750px;
    background-color: #f1f1f1;
    border: 2px solid deeppink;
    border-radius: 25px;
}
a {
    color: black;
    text-decoration: none;
    font-size: 18px;    
}

a:hover {
    text-decoration: underline;
}
a:active {
    color: rebeccapurple;
}
a:visited {
    color: purple;
}

.bg-yellow {
    background-color: #ffffeb;
}
.bg-blue {
    background-color:#e0e6ff;
}
.bg-flow{
    background-color: rgb(239, 212, 255);

}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.shadow {
    box-shadow: 5px 0 20px gray,
    -5px -10px 25px pink;
}

.list {
    padding: 0 15px;
    margin: 5px;
    list-style-type: "♥ ";
}
.list li {
    margin-bottom: 2px;
    color: rgb(55, 15, 95);
    font-style: italic;
    letter-spacing: 2px;
    }

    
.glow-box {  
    transition: box-shadow 0.3s ease-in-out;
}

.glow-box:hover {
    box-shadow: 0 0 15px rgba(159, 245, 245, 0.856), 
    0 0 30px rgba(135, 236, 236, 0.6), 
    0 0 45px rgba(0, 47, 255, 0.4);
}
.contact {
    padding: 0 15px;
    border-radius: 20px; 
} 
.contact h2 {
        text-align: center;
        padding: 15px 0 0 0;
    }
.footer {
    padding: 0 1px;
    border-radius: 10px;
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 18px;
    color: #371553;
    font-variant: small-caps;
}
.form-group input, 
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    background: transparent;
}

.form-group select {
    width: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid purple;
    border-radius: 20px;
    padding: 5px 0 5px;
    outline: none;
    font-family: inherit;
    background-color: transparent; 
    appearance: none; 
    cursor: pointer;
    text-align: center;
}
.row {
    display: flex;
    margin-bottom: 20px;
}
.row > .form-group {
    width: 50%;
}
.row > .form-group:first-child {
    margin-right: 20px;
}
.submit {
    width: 20%;
    margin-bottom: 10px;
    border: 1px solid purple;
    border-radius: 20px;
    padding: 5px 0 5px;
    font-family: inherit;
    background: #371553;
    color: wheat;
    cursor: pointer;
    text-align: center;
}
.submit:hover {
    opacity: 0.9;
}

.projects p {
    text-align: justify;
}
.projects a {
    color: #095e06;
}